* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}

#navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}
#navbar li a {
  text-decoration: none;
  font-weight: 600px;
  color: #1a1a1a;
}

#navbar li a:hover {
  color: #07f1e2;
  transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
  color: #07f1e2;
}

#navbar li a.active::after {
  content: "";
  width: 30%;
  height: 2px;
  background: #07f1e2;
  position: absolute;
  bottom: -4px;
  left: 20px;
}
