* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}

#navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}
#navbar li a {
  text-decoration: none;
  font-weight: 600px;
  color: #1a1a1a;
}

#navbar li a:hover {
  color: #07f1e2;
  transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
  color: #07f1e2;
}

#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background: #07f1e2;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

/* Home page */
#hero {
  display: flex;
}
#hero #hero1 {
  height: 90vh;
  width: 40%;
  gap: 10px;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  left: 20px;
}
#hero #hero2 {
  height: 90vh;
  width: 60%;
  background-image: url("images/Mainpage.png");
  /* background-size: cover; */
  /* background-position: top 25% right 0; */
  background-size: 90% 100%;
}

#hero #hero1 h4 {
  /* padding-bottom: 10px; */
}

#hero #hero1 h1 {
  color: #088178;
  font-size: 40px;
}
#hero #hero1 h2 {
  font-size: 40px;
}

#hero #hero1 button {
  border: none;
  background-color: #465b52;
  color: #088178;
  padding: 14px 50px 14px 50px;
  background-repeat: no-repeat;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
}

/* feature */
#feature .fe-box img {
  height: 100px;
  width: 100px;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}
p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 0px 80px;
}

#feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#feature .fe-box {
  width: 150px;
  text-align: center;
  padding: 20px 15px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.3);
  border: 1px solid #cce7d0;
  border-radius: 4px;
  margin: 15px 0;
}
#feature .fe-box:hover {
  box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

#feature .fe-box img {
  width: 100%;
  margin-bottom: 10px;
}

#feature .fe-box h6 {
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color: #088178;
  background-color: #fddde4;
}

#feature .fe-box:nth-child(2) h6 {
  background-color: #cdebbc;
}
#feature .fe-box:nth-child(3) h6 {
  background-color: #d1e8f2;
}
#feature .fe-box:nth-child(4) h6 {
  background-color: #cdd4f8;
}
#feature .fe-box:nth-child(5) h6 {
  background-color: #f6dbf6;
}
#feature .fe-box:nth-child(6) h6 {
  background-color: #fff2e5;
}

#product1 h2,
p {
  text-align: center;
}

#product .pro-container .pro {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #8e928f;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
}
#product .pro-container .pro:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product .pro-container .pro img {
  width: 100%;
  border-radius: 25px;
}
